<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Page </title>

</head>
<body bgcolor="#d3a625">
<div  align="center">
<p>Thank you for your time!</p>
<p></p>

<form action="/opinions" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="opinion" name="opinion">
  <button type="submit">Submit</button>
</form>
</div>


<div align="center">
<ul class="opinions">
  <% for(var i=0; i<opinions.length; i++) {%>
    <li class="opinions">
      <span><%= opinions[i].name %></span>
      <span><%= opinions[i].opinion %></span>
    </li>
  <% } %>
</ul>
<div>

</body>
</html>
